numpy
scipy
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-core
matplotlib
pandas
pylint
PyQt6
QtPy
tqdm
xlrd
xlwt
ipywidgets
rise
sympy
lvm_read
pytest
numba
jupyter_contrib_nbextensions
jupyter-book
ghp-import